# .env.example
BASE_URL_UI=https://ru.yougile.com/team/
BASE_URL_API=https://ru.yougile.com/api-v2
PROJECT_ID=your_project_id
EMAIL=your_email@example.com
PASSWORD=your_passwordTIMEOUT=5
# chrome | firefox
BROWSER_NAME=chrome
API_TOKEN=your_api_token
TIMEOUT=5